@model Models.ProjectViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Temp.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default-2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @{
                            if (Model == null)
                            {
                                using (Html.BeginForm("Save", "Thiet_Bi",new { id = Model.SelectedProject.ID }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block;">TÊN CÔNG TRƯỜNG: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ten_Thiet_Bi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ten_Thiet_Bi, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">LOẠI CÔNG TRƯỜNG: </label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => Model.SelectedProject.Phong_Ban, Model.Phong_Ban_All, "-- Chọn Công Trường --", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Phong_Ban, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">GIÁM ĐỐC DỰ ÁN: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Vi_Tri, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Vi_Tri, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> CHỈ HUY TRƯỞNG: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Hinh_Anh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Hinh_Anh, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> ĐỊA CHỈ: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ma_Thiet_Bi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ma_Thiet_Bi, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> GIÁ TRỊ TẠM TÍNH: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ghi_Chu_1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ghi_Chu_1, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> TỪ NGÀY:</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Start_Date,"{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Start_Date, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">ĐẾN NGÀY:</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.SelectedProject.End_Date, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.SelectedProject.End_Date, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> TRẠNG THÁI HOẠT ĐỘNG: </label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.SelectedProject.Ghi_Chu_1, new List<SelectListItem>()
                                            {
                                                 new SelectListItem(){ Text = "-- Chọn Trạng Thái --",   Value = ""},
                                                 new SelectListItem(){ Text = "Hoạt Động",   Value = "Hoạt Động"},
                                                 new SelectListItem(){ Text = "Đã Dừng", Value = "Đã Dừng"}
                                            }, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ghi_Chu_1, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">KHU VỰC THI CÔNG:</label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.SelectedProject.Don_Gia, new List<SelectListItem>()
                                            {
                                                 new SelectListItem(){ Text = "-- Chọn Khu Vực --",   Value = ""},
                                                 new SelectListItem(){ Text = "Miền Nam",   Value = "Miền Nam"},
                                                 new SelectListItem(){ Text = "Miền Trung", Value = "Miền Trung"},
                                                 new SelectListItem(){ Text = "Miền Bắc",   Value = "Miền Bắc"}
                                            }, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Don_Gia, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <p>
                                        <button type="submit" value="Thêm" class="btn btn-danger"> <b>XÓA</b> </button>
                                    </p>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("Delete", "Thiet_Bi",new { id = Model.SelectedProject.ID }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">TÊN CÔNG TRƯỜNG: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ten_Thiet_Bi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ten_Thiet_Bi, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">LOẠI CÔNG TRƯỜNG: </label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => Model.SelectedProject.Phong_Ban, Model.Phong_Ban_All, "-- Chọn Công Trường --", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Phong_Ban, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">GIÁM ĐỐC DỰ ÁN: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Vi_Tri, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Vi_Tri, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> CHỈ HUY TRƯỞNG: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Hinh_Anh, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Hinh_Anh, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> ĐỊA CHỈ: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ma_Thiet_Bi, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ma_Thiet_Bi, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> GIÁ TRỊ TẠM TÍNH: </label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Ghi_Chu_1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ghi_Chu_1, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> TỪ NGÀY:</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => Model.SelectedProject.Start_Date, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Start_Date, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">ĐẾN NGÀY:</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.SelectedProject.End_Date, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                                        @Html.ValidationMessageFor(model => model.SelectedProject.End_Date, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; "> TRẠNG THÁI HOẠT ĐỘNG: </label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.SelectedProject.Ghi_Chu_1, new List<SelectListItem>()
                                            {
                                                 new SelectListItem(){ Text = "-- Chọn Trạng Thái --",   Value = ""},
                                                 new SelectListItem(){ Text = "Hoạt Động",   Value = "Hoạt Động"},
                                                 new SelectListItem(){ Text = "Đã Dừng", Value = "Đã Dừng"}
                                            }, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Ghi_Chu_1, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <label style="background-color: #d9534f; color: white; border-radius: 5px; padding: 5px; display: block; ">KHU VỰC THI CÔNG:</label>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.SelectedProject.Don_Gia, new List<SelectListItem>()
                                            {
                                                 new SelectListItem(){ Text = "-- Chọn Khu Vực --",   Value = ""},
                                                 new SelectListItem(){ Text = "Miền Nam",   Value = "Miền Nam"},
                                                 new SelectListItem(){ Text = "Miền Trung", Value = "Miền Trung"},
                                                 new SelectListItem(){ Text = "Miền Bắc",   Value = "Miền Bắc"}
                                            }, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.SelectedProject.Don_Gia, null, new { @class = "text-danger", style = "font-weight:bold" })
                                    </div>
                                    <p>
                                        <button type="submit" value="Thêm" class="btn btn-danger"> <b>XÓA</b> </button>
                                    </p>
                                }
                            }
                        }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
