@using System.Data;
@model Models.ProjectViewModel
@{
    ViewBag.Title = "Index_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hidden {
        display: none;
    }
    .zoom:hover {
        -moz-transition: all 1.7s;
        -webkit-transition: all 1.7s;
        transition: all 1.7s;
        -moz-transform: scale(4.5);
        -webkit-transform: scale(4.5);
        transform: scale(4.5);
    }
    #dataTables td {
        vertical-align: middle;
    }
</style>

<div class="row">
    <div class="col-lg-3">
        <!-- /.panel-heading -->
        <div class="panel-body-2">
            <div class="form-group">
                @using (Ajax.BeginForm("Interop_Index", "Thiet_Bi", new AjaxOptions
               {
                   HttpMethod = "Post",
                   InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
               }))
                {
                    @Html.DropDownListFor(model => Model.Select_Phong_Ban, Model.Phong_Ban_All, new { @class = "form-control", @onchange = "$(this.form).submit();", @style = " margin-top:10px" })
                    @Html.DropDownListFor(model => Model.Select_Group, Model.Code_Group_All, new { @class = "form-control", @onchange = "$(this.form).submit();", @style = " margin-top:10px" })
                    @Html.DropDownListFor(model => Model.Select_Size, new List<SelectListItem> { 
                       new SelectListItem { Value = "0" , Text = "Decal dán to" },
                       new SelectListItem { Value = "1" , Text = "Decal dán nhỏ" }
                    }, new { @class = "form-control", @onchange = "$(this.form).submit();", @style = " margin-top:10px" })
                }
            </div>

            <div id="example-placeholder">
            </div>
        </div>
    </div>

    <div class="col-lg-9" style=" margin-top: 20px;">
        <div class=" panel panel-primary">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="dvCategoryResults">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Hình Ảnh</th>
                                <th>Tên Thiết Bị</th>
                                <th>Mã Thiết Bị</th>
                                <th>Vị Trí</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (DataRow row in Model.Thiet_Bi_Table.Rows)
                            {
                                <tr class="odd gradeX">
                                    <td>@i</td>
                                    <td><div class="zoom"> <img src="@Url.Content("~/Assets/images/" + @row["Hinh_Anh"])" alt="IMAGES" style="width: 35px; height: 35px; display: block; margin: 0 auto;" /></div></td>
                                    <td>@row["Ten_Thiet_Bi"] </td>
                                    <td>@row["Ma_Thiet_Bi"]</td>
                                    <td>@row["CS_ViTri"]</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    @using (Html.BeginForm("Interop", "Thiet_Bi"))
                    {
                        <button id="interOpButton" type="submit" onclick="example_ajax_request()" style=" margin-top: 10px; margin-left:0px; margin-bottom: 10px" class="btn btn-primary"><b>+ XUẤT THẺ QR </b></button>
                        @Html.TextBoxFor(model => Model.Select_Size, new { @class = "hidden"})
                        @Html.TextBoxFor(model => Model.Select_Phong_Ban, new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.Select_Group, new { @class = "hidden" })
                    }
                </div>
            </div>
            <div class="panel-footer"><b></b></div>
        </div>
    </div>

</div>

<div class="row">

</div>



